<a href="https://colab.research.google.com/github/indipanesar96/neural-style-tf/blob/master/NN%20For%20Returns%20Big%20Data2%20CW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#code32and18.py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf # to create neural networks
import numpy as np # to manipulate arrays
import matplotlib.pyplot as plt # for plots
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dropout
from tensorflow.keras.regularizers import l2
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.initializers import he_normal

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# This is just to allow colab to read the file, when we submit we wont need this
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# The shared link for the csv file
link = 'https://drive.google.com/open?id=1_5T1cpgLHuo6tQYhW4oi4zJ_bYKCjGq5'
fluff, id = link.split('=')

downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('CPZ_data_mini.csv')  
df = pd.read_csv('CPZ_data_mini.csv') #this is the only line we need from this block when submitting

In [0]:



df.sort_values(by=['permno','Date'],inplace=True)

df.head()

df['ret_future'] = df.groupby('permno')['ret'].shift(-1)

df = df.dropna()
y = df['ret_future']
X = df.drop(columns=['ret','ret_future','Date','permno']).copy()

train = ('1967-01-01' <= df['Date']) & (df['Date'] < '1997-01-01')
vali = ('1997-01-01' <= df['Date']) & (df['Date'] < '2007-01-01')
test = ('2007-01-01' <= df['Date']) & (df['Date'] < '2016-11-01')

In [0]:
df

               Date  permno       ret  ...     dfy      svar  ret_future
0        1967-01-01   10006  0.136223  ...  0.0077  0.000733   -0.039703
430      1967-02-01   10006 -0.039703  ...  0.0079  0.000412    0.152727
860      1967-03-01   10006  0.152727  ...  0.0072  0.000501    0.048883
1291     1967-04-01   10006  0.048883  ...  0.0072  0.000837   -0.022112
1727     1967-05-01   10006 -0.022112  ...  0.0072  0.000890    0.058524
...             ...     ...       ...  ...     ...       ...         ...
1194906  2015-12-01   93433 -0.264806  ...  0.0149  0.002839   -0.268100
1196929  2016-01-01   93433 -0.268100  ...  0.0145  0.004301    0.162368
1198942  2016-02-01   93433  0.162368  ...  0.0138  0.002602   -0.074231
1200946  2016-03-01   93433 -0.074231  ...  0.0131  0.001274   -0.101623
1202934  2016-04-01   93433 -0.101623  ...  0.0117  0.000818   -0.053772

[1199669 rows x 22 columns]

In [0]:

##########################################
#normalized

X -= X.loc[train].mean()
X /= X.loc[train].std()

In [0]:

##########################################
#train
X[train],y[train]
#vali
X[vali],y[vali]

(          ST_REV       SUV     r12_2  ...       tms       dfy      svar
 622823 -1.268085 -0.964422 -0.828734  ...  0.015681 -0.995991 -0.080044
 625483 -1.568396  0.081883 -1.196952  ... -0.031046 -1.089615 -0.052961
 628151  0.927439 -0.732485 -1.409699  ...  0.175890 -1.089615  0.071436
 630825  1.330903  0.095651 -1.340994  ... -0.031046 -1.136427  0.308451
 633526  0.104975 -1.026207 -1.025013  ... -0.071098 -1.113021  0.072838
 ...          ...       ...       ...  ...       ...       ...       ...
 710284  0.933927 -0.418274 -0.083262  ... -0.011020 -0.808741  0.243462
 713005  0.215012  0.161204 -0.382253  ... -0.144527 -0.668304  0.237573
 715719 -1.290098  1.416624 -0.261127  ... -0.084449 -0.621492  0.750299
 718422 -0.172253 -0.758604 -0.047144  ... -0.131177 -0.715117 -0.081420
 721118  1.186107  0.096470 -0.172770  ... -0.137852 -1.066209 -0.129951

 [320245 rows x 18 columns], 622823    0.043719
 625483    0.071458
 628151   -0.004300
 630825    0.248621
 633526    0.030008
             ...
 710284   -0.171783
 713005   -0.038988
 715719    0.232764
 718422    0.510306
 721118    0.170657
 Name: ret_future, Length: 320245, dtype: float64)

In [0]:

#build netural networking
#32 16 8 
def train_lr32(X, y, l_r):
    
    lamda = 0 # we don't regulariziation firstly
    p = 0.1
    model = Sequential()
    model.add(Dense(32, activation='relu',
                    kernel_regularizer=l2(l=lamda), 
                    kernel_initializer=he_normal(),
                    input_dim=18))
    model.add(Dropout(p))
    model.add(Dense(16, activation='relu',
                    kernel_regularizer=l2(l=lamda),
                    kernel_initializer=he_normal()))
    model.add(Dropout(p))
    model.add(Dense(8, activation='relu',
                    kernel_regularizer=l2(l=lamda),
                    kernel_initializer=he_normal()))
    model.add(Dropout(p))
    model.add(Dense(1, activation='linear',
                    kernel_initializer=he_normal()))
    
    model.compile(loss='mse',
                  optimizer=Adam(lr=l_r, beta_1=0.9, beta_2=0.999),
                  metrics=['mse'])
    
    
    history = model.fit(X,y,epochs=20, batch_size=64,verbose=1)
    
    return model, history

#18 18 18 18
def train_lr_18ex(X, y, l_r):
    lamda = 0 # we don't regulariziation firstly
    p = 0.1
    model = Sequential()
    model.add(Dense(18, activation='relu',
                    kernel_regularizer=l2(l=lamda), 
                    kernel_initializer=he_normal(),
                    input_dim=18))
    model.add(Dropout(p))
    model.add(Dense(18, activation='relu',
                    kernel_regularizer=l2(l=lamda),
                    kernel_initializer=he_normal()))
    model.add(Dropout(p))
    model.add(Dense(18, activation='relu',
                    kernel_regularizer=l2(l=lamda),
                    kernel_initializer=he_normal()))
    model.add(Dropout(p))
    model.add(Dense(18, activation='relu',
                    kernel_regularizer=l2(l=lamda),
                    kernel_initializer=he_normal()))
    model.add(Dropout(p))
    model.add(Dense(1, activation='linear',
                    kernel_initializer=he_normal()))
    
    model.compile(loss='mse',
                  optimizer=Adam(lr=l_r, beta_1=0.9, beta_2=0.999),
                  metrics=['mse'])
    
    
    history = model.fit(X,y,epochs=20, batch_size=64,verbose=1)
    
    return model, history

In [0]:

train_X = X[train]
train_y = y[train]    
l_r_list = [0.001,0.005,0.01,0.05]
loss=[0,0,0,0]
metrics=[0,0,0,0]

#different learning rate in 32 model
model1, history1 = train_lr32(train_X, train_y, 0.001)
model2, history2 = train_lr32(train_X, train_y, 0.005)
model3, history3 = train_lr32(train_X, train_y, 0.01)
model4, history4 = train_lr32(train_X, train_y, 0.05)
#plot

Epoch 1/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0374 - mse: 0.0374
Epoch 2/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 3/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 4/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 5/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 6/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 7/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 8/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 9/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 10/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 11/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 12/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 13/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 14/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 15/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 16/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 17/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 18/20
9635/9635 [==============================] - 15s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 19/20
9635/9635 [==============================] - 16s 2ms/step - loss: 0.0211 - mse: 0.0211
Epoch 20/20
5300/9635 [===============>..............] - ETA: 6s - loss: 0.0215 - mse: 0.0215

In [0]:

y0_001, = plt.plot(history1.history['loss'],label = '$0.001$')
y0_005, = plt.plot(history2.history['loss'],label = '$0.005$')
y0_01,  = plt.plot(history3.history['loss'],label = '$0.01$')
y0_05,  = plt.plot(history4.history['loss'],label = '$0.05$')
plt.legend(handles=[y0_001,y0_005, y0_01, y0_05]) 
#18*4 model

In [0]:
model14, history14 = train_lr_18ex(train_X, train_y, 0.001)
history14.history['loss']
#compare
history1.history['loss']